html {
    background-color: rgb(244, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* MEnu Bar */
.header {
    background-color: rgb(130, 130, 252);
    padding: 20px;
    color: white;
}

#scores{
    background-color: rgb(130, 130, 252);
    color: white;
    border: none;
    font-size: larger;
}

#timer {
    font-size: larger;
    margin-left: 6px;
}

#alert {
    display: flex;
    justify-content: center;
}
#answeralert {
    color: red;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}



/* Cards */
#cards {
    display: flex;
    justify-content: center;
}

#card,
#questionscard,
#scorecard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
    width: 50%;
}

#questionscard,
#scorecard {
    display: none;
}

h1 {
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    font-size: xxx-large;
}
#questionTitle {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    font-size: xx-large; 
}
ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.choices {
    font-size: large;
    border-radius: 25px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30%;
    background-color: rgb(130, 130, 252);
    border-color: white;
    color: white;
}

p,
li {
    text-align: center;
    justify-content: center;
    font-size: x-large;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

#startbutton {
    justify-content: center;
    font-size: xx-large;
    border-radius: 45px;
    padding: 20px;
    background-color: rgb(130, 130, 252);
    border-color: white;
    color: white;
    margin: 40px;
}

h2 {
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    padding: 40px;
}

/* Scoreboard */

.highscores {
    display: flex;
    justify-content: center;
}

#scoreheader {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addscore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

#initialsinput {
    width: 150px;
    padding: 5px;
    border-radius: 45px;
    font-size: larger;
    margin-left: 60px;
}

#initialsinput:focus {
    outline: none;
    border-color:  rgb(130, 130, 252);
}

#initialssubmit {
    margin-left: 30px;
    font-size: larger;
    border-radius: 45px;
    padding: 10px;
    background-color: rgb(130, 130, 252);
    border-color: white;
    color: white;
}

@media screen and (max-width: 768px) {
    #card,
    #questionscard,
    #scorecard {
        width: 80%;
    }
} 
