html {
    background-color: rgb(244, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* MEnu Bar */
.header {
    background-color: rgb(130, 130, 252);
    padding: 20px;
    margin: 0;
    color: white;
    font-size: larger;
}

#scores {
    margin: 0;
    color: white;
    font-size: larger; 
    background-color:  rgb(130, 130, 252);
    border: none;
}

/* Main Page */

.main {
    display: flex;
    justify-content: center;
}

#wronganswer {
    color: red;
    display: none;
}

.highscores {
    display: flex;
    justify-content: center;
}

#card,
#card7 {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
    width: 40%;
}

/* Quiz */

.questions {
    display: flex;
    justify-content: center;
}

#card2,
#card3,
#card4,
#card5,
#card6 {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
    width: 100%;
}

h1 {
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    font-size: xx-large;
}

p {
    text-align: center;
    justify-content: center;
    font-size: x-large;
    padding: 10px;
}

.buttonmiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#startbutton {
    font-size: xx-large;
    border-radius: 45px;
    padding: 20px;
    background-color: rgb(130, 130, 252);
    border-color: white;
    color: white;
    margin: 40px;
}

h2 {
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    padding: 40px;
}

#form1 {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.input {
    
    font-size: x-large;
    padding: 40px;

}

.submitbutton {
    font-size: x-large;
    border-radius: 45px;
    padding: 20px;
    background-color: rgb(130, 130, 252);
    border-color: white;
    color: white;
    margin: 40px;
}

#card2,
#card3,
#card4,
#card5,
#card6,
#card7 {
  display: none;
}

/* Scoreboard */

#addscore {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
}

#initialsinput {
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 45px;
    font-size: larger;
}

#initialssubmit {
    font-size: larger;
    border-radius: 45px;
    padding: 10px;
    margin-left: 15px;
    background-color: rgb(130, 130, 252);
    border-color: white;
    color: white;
}

@media screen and (max-width: 768px)  {
    #card,
#card7 {
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
        width: 90%;
    }

#card2,
#card3,
#card4,
#card5,
#card6 {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
    width: 70%;
}
}

@media screen and (max-width: 576px) {

#card,
#card7 {
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);   
        width: 90%;
    }

#card2,
#card3,
#card4,
#card5,
#card6 {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);   
    width: 70%;
}
}